<form [formGroup]="carForm" (ngSubmit)="onSubmit()">
  <h1 *ngIf="this.id">Edit Car</h1>
  <h1 *ngIf="!this.id">Add Car</h1>
  <!-- <p>{{car | json }}</p> -->

    <div class="container">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Horse Power</mat-label>
        <input matInput formControlName="horsePower">
        <span matSuffix>hp</span>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Brand</mat-label>
        <mat-select formControlName="brand">
          <mat-option *ngFor="let brand of brands | keyvalue" [value]="brand.key">{{brand.value}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Fuel Type</mat-label>
        <mat-select formControlName="fuelType">
          <mat-option *ngFor="let ft of fuelTypes | keyvalue" [value]="ft.key">{{ft.value}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Price</mat-label>
        <span matPrefix>€ &nbsp;</span>
        <input matInput formControlName="price" prefix>
      </mat-form-field>
    
      <div class="calendar">
        <mat-form-field>
            <input formControlName="startOfSales" matInput [matDatepicker]="dp1" placeholder="Start of sales">
            <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
            <mat-datepicker #dp1></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <input formControlName="endOfSales" matInput [matDatepicker]="dp2" placeholder="End of sales">
            <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
            <mat-datepicker #dp2></mat-datepicker>
        </mat-form-field>
        
      </div>
    </div>

    <button mat-raised-button color="primary" type="submit" [disabled]="!carForm.valid">Submit</button>
</form>