<nav>
  <ul>
    <li style="list-style: none; color:#000"><a [routerLink]="['/overview']">Dashbord</a></li>
    <li style="list-style: none; color:#000">
      <a [routerLink]="['/add-car']">
        <button mat-flat-button color="accent">
          <i class="material-icons">add</i> Add car
        </button>
      </a>
    </li>
  </ul>
</nav> 

<table style="width: 100%;" mat-table [dataSource]="cars" class="mat-elevation-z8">

  <ng-container matColumnDef="brand">
    <th mat-header-cell *matHeaderCellDef>BRAND</th>
    <td mat-cell *matCellDef="let car"> {{car.brand}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>CAR</th>
    <td mat-cell *matCellDef="let car"> {{car.name}} </td>
  </ng-container>

  <ng-container matColumnDef="fuelType">
    <th mat-header-cell *matHeaderCellDef>FUEL TYPE</th>
    <td mat-cell *matCellDef="let car"> {{car.fuelType}} </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>PRICE</th>
    <td mat-cell *matCellDef="let car">€ {{car.price}} </td>
  </ng-container>

  <ng-container matColumnDef="horse power">
    <th mat-header-cell *matHeaderCellDef>HORSE POWER</th>
    <td mat-cell *matCellDef="let car"> {{car.horsePower}} HP</td>
  </ng-container>

  <ng-container matColumnDef="start of sales">
    <th mat-header-cell *matHeaderCellDef>START OF SALES</th>
    <td mat-cell *matCellDef="let car"> {{car.startOfSales}} </td>
  </ng-container>

  <ng-container matColumnDef="end of sales">
    <th mat-header-cell *matHeaderCellDef>END OF SALES</th>
    <td mat-cell *matCellDef="let car"> {{car.endOfSales}} </td>
  </ng-container>
  
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>ACTION</th>
    <td style="cursor: pointer" mat-cell *matCellDef="let car"><i class="material-icons"><a [routerLink]="['/edit', car.id]">edit</a></i><i class="material-icons"><a (click)="deleteCar(car.id)">delete</a></i></td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
