

button{ 
    margin: 10px 0;
    color:#000;
}

.mat-header-row{
    background-color: #f5a623 !important;
    ::ng-deep .mat-sort-header-container{
        justify-content: center;
    }
    .mat-header-cell{font-weight: bold;
    font-size: 0.95em;
    color: black;
    }
}

.mat-cell, .mat-header-cell{
    text-align: center;
}

table{
    table-layout: fixed;
}

.mat-row{
    &:nth-child(even){
        background-color: #eee;
    }
}