
.mat-header-row{
    background-color: #f5a623 !important;
    .mat-header-cell{font-weight: bold;
    font-size: 0.95em;
    color: black;
    }
}

.mat-cell, .mat-header-cell{
    text-align: center;
}

table{
    table-layout: fixed;
}