
<button [routerLink]="['/add-car']" mat-raised-button color="primary" type="submit"><i class="material-icons">add</i> Add car</button>


<ng-form class="ml">
  <mat-form-field class="example-full-width">
    <input matInput [(ngModel)]="filter" (ngModelChange)="updateFilter($event)" name="filter" placeholder="Filter here">
  </mat-form-field>
</ng-form>
<mat-form-field  style="float: right">
  <mat-label>Select a Brand</mat-label>
  <mat-select [ngModel]="brands" (ngModelChange)="brandFilter($event)">
    <mat-option *ngFor="let brand of brands" [value]="brand">{{brand}}</mat-option>
  </mat-select>
</mat-form-field>

<table mat-table matSort style="width: 100%;" [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="brand">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>{{'table.head.brand' | translate}}</th>
    <td mat-cell *matCellDef="let car"> {{car.brand}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'table.head.car' | translate}}</th>
    <td mat-cell *matCellDef="let car"> {{car.name}} </td>
  </ng-container>

  <ng-container matColumnDef="fuelType">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'table.head.fuelType' | translate}}</th>
    <td mat-cell *matCellDef="let car"> {{'table.body.fuel.' + car.fuelType | translate}} </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'table.head.price' | translate}}</th>
    <td mat-cell *matCellDef="let car">€ {{car.price}} </td>
  </ng-container>

  <ng-container matColumnDef="horsePower">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'table.head.horsePower' | translate}}</th>
    <td mat-cell *matCellDef="let car"> {{car.horsePower}} {{'table.body.unity.hp'| translate}}</td>
  </ng-container>

  <ng-container matColumnDef="startOfSales">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'table.head.SOS' | translate}}</th>
    <td mat-cell *matCellDef="let car"> {{formatDate(car.startOfSales)}} </td>
  </ng-container>

  <ng-container matColumnDef="endOfSales">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'table.head.EOS' | translate}}</th>
    <td mat-cell *matCellDef="let car"> {{formatDate(car.endOfSales)}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>{{'table.head.action' | translate}}</th>
    <td style="cursor: pointer" mat-cell *matCellDef="let car">
      <i [routerLink]="['/edit', car.id]" class="material-icons">create</i>
      <i (click)="deleteCar(car.id)" class="material-icons">delete_outline</i>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
