
<button [routerLink]="['/add-car']" mat-raised-button color="primary" type="submit"><i class="material-icons">add</i> Add car</button>

<table mat-table matSort style="width: 100%;" [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="brand">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>BRAND</th>
    <td mat-cell *matCellDef="let car"> {{car.brand}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>CAR</th>
    <td mat-cell *matCellDef="let car"> {{car.name}} </td>
  </ng-container>

  <ng-container matColumnDef="fuelType">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>FUEL TYPE</th>
    <td mat-cell *matCellDef="let car"> {{car.fuelType}} </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>PRICE</th>
    <td mat-cell *matCellDef="let car">€ {{car.price}} </td>
  </ng-container>

  <ng-container matColumnDef="horsePower">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>HORSE POWER</th>
    <td mat-cell *matCellDef="let car"> {{car.horsePower}} HP</td>
  </ng-container>

  <ng-container matColumnDef="startOfSales">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>START OF SALES</th>
    <td mat-cell *matCellDef="let car"> {{car.startOfSales}} </td>
  </ng-container>

  <ng-container matColumnDef="endOfSales">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>END OF SALES</th>
    <td mat-cell *matCellDef="let car"> {{car.endOfSales}} </td>
  </ng-container>
  
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>ACTION</th>
    <td style="cursor: pointer" mat-cell *matCellDef="let car">
      <i [routerLink]="['/edit', car.id]" class="material-icons">create</i>
      <i (click)="deleteCar(car.id)" class="material-icons">delete_outline</i>
    </td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
