*{
    display: flex;
    align-items: center;
    justify-content: center;
}

button:first-child{
    color: #000;
    background-color: #f5b915;
}
button:last-child{
    color: #000;
    background-color: #44b4ff;
}

button:hover{
    transition-duration: .4s;
}

button:first-child:hover{
    background-color: #22a8f6;
}
button:last-child:hover{
    background-color: #409ad6;
}